<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ayooluwa - {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='mystyle.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
</head>
<body class="bg-dark">
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-dark">
        
        <p>Author: Ayooluwa Durojaiye</p>
        <p>Socials: <a  class = social href="https://www.linkedin.com/in/ayooluwa-durojaiye-058597245/">Linkedin</a>  </p>
    </footer>
</body>
</html>

